
:root {
	--blanco: #ffffff;
	--negro: #212121;
	--primario: #ffc107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;

    --fuente-principal: 3.80rem;

}

/** Globales **/
html{
    font-size: 46.5%;
    box-sizing: border-box; /* Hack para Box Model */
    scroll-snap-type: y mandatory;
}


/** Scroll Snap **/
.servicios,
.navegacion-principal,
.formulario {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


*, *:before, *:after {    /* Adaptación del Hack a las creaciones before y after */
    box-sizing: inherit;
}
      
body{
    font-size: 13px; /* Nos hace con ese 62.5% del html la relación de 1rem = 10px*/ 
    font-family: 'Krub', sans-serif; /*nueva fuente descargada*/
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}

.boton{

    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .8rem;
    width: 90%;
    text-align: center;
    border: none;

}

@media (min-width:768px){
    .boton {
        width:auto; /* coge todo el ancho */
    }
}

.boton:hover{
    cursor: pointer;
}

.sombra {
    
    box-shadow: 0px 31px 76px -3px rgba(112,112,112,0.61);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 2rem;
    
}


/* Tipografía */

h1{
    font-size: var(--fuente-principal);

}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{

    text-align: center;
    /*text-transform: uppercase;*/
}

/* Titulos */

.titulo span{
    font-size: 1.8rem;
    color: var(--primario);
    /*#ffc107;*/
}


/** Utilidades **/

.w-sm-100{
    width: 100%;
}

@media (min-width: 768px) {
    .w-sm-100{
        width: auto;
    }
}

.flex {
    display: flex;
}

.alinear-derecha {
    justify-content: flex-end;
}


/* Navegación principal */

.nav_bg {
    background-color: var(--secundario) ;
}

.navegacion-principal{
    display: flex;
    flex-direction: column; /* usabilidad en otros dispositivos  */
    
}

@media (min-width:768px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-evenly;
        
    }
}

.navegacion-principal a{
    display: block;
    text-align:center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.7rem;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--negro);
}
.navegacion-principal a:focus{
    color: red;
}

/* Hero */
.hero{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 410px;
    padding: 80px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero{
    position: absolute;
    background-color: rgb(0,0,0,.7); /*Anterior, la mayoría de los navegadores lo admiten*/
    background-color: rgb(0 0 0 / 70%); /* Sentencia nueva, posible problema de usabilidad*/
    bottom: 0; /* Todos estos a 0 para que se expanda a todos los lados*/
    left: 0;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.contenido-hero h2,
.contenido-hero p{
    color: var(--blanco)
}



/** Servicios **/
@media (min-width: 768px) {
    .servicios{
        display:grid;
        grid-template-columns: repeat(3, 1fr); 
        column-gap: 2rem;
    }
}

.servicio{
    display: flex;
    flex-direction: column;
    justify-content: center; /* Quizá por el espacio del contenedor nunca se use, Pero por si acaso, se alinea por columna*/
    align-items: center;
}

.servicio h3{
    color: var(--secundario);
}
.servicio p{
    line-height: 2;
    text-align: center;
}

.servicio .iconos{
    width: 15rem;
    height: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/** Contacto **/

.formulario{
    background-color: var(--gris);
    /*width: 50%;*/ /* En vez de tomar este valor que es menos jugable, hacemos la de abajo*/
    width: min(60rem, 100%); /* Va a tomar el valor mínimo entre los 50rem (500px) o el 100% del form, que en mi proyecto son 960px*/
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
   
}

.formulario fieldset{
    border: none;
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight:700;
    margin-bottom: 2rem;
    color: var(--primario);

}

@media (min-width: 786px) {
    .contenedor-campos {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 2rem;
        }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3;
    }
}

.campo{
    margin-bottom: 1rem;
}


.campo label{
    color: var(--blanco);
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.input-text{
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: 0.7rem;

}

.footer{
    text-align: center;
}